<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-image: url('https://www.lifewire.com/thmb/uy0e0EgWY9hsIBKI3CruDg31_qk=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/171264809-56a9f6985f9b58b7d0003992.jpg');
background-repeat: no-repeat; background-size:cover; positon:absolute;  ">
<div style="font-weight: bold; text-align:center">
    <h1 style=" color: #1ABC9C" >Login</h1>
    <form action="">
         <div> <input type="text" placeholder="Fullname" required style="margin-bottom:30px;
        padding:5px; border: 2px solid black; border-radius: 6px;"> </div>
        <div><input type="email" placeholder="Email" required style="padding:5px; border: 80002px solid black;
border-radius: 6px; margin-bottom:30px;"></div>
         <div> <input type="password" placeholder="Password" required style="padding:5px; border: 2px solid black;
border-radius: 6px; margin-bottom:30px;"> </div>
        <div><input type="Submit" value="Submit" style="padding: 5px; background-color: #52BE80; font-size: 16px; border-radius:6px"></div>


</form>
</div>

</body>
</html>